<div class="container" style="width:800px;margin-top:5%;">
<center><h2>Haciendo uso de mi primer Bot</h2></center>  <hr>
<center><h1>Menú</h1></center>
 <center><div class="container" id="contiene tabla" style="width:70%;">
<table id="tabla" class="table table-bordered">
  <tr>
    <th>Comando</th>
    <th>Descripción</th>
    </tr>
    <tr>
    <td>/soy Armando</td>
    <td>Envia un saludo...</td>
    </tr>
      <tr>
    <td>/foto minion</td>
    <td>Envia una imagen...</td>
    </tr>
      <tr>
    <td>/ubicacion home</td>
    <td>Envia la ubicación de un lugar...</td>
    </tr>
      <tr>
    <td>/video minion</td>
    <td>Realiza el envio de un video...</td>
    </tr>
</table>
</div>
</center>
</div>